{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block extrahead %}{{ block.super }}
{{ wizard.form.media }}
{% endblock %}


{% block submit_buttons_top %}{% include "adminwizard/submit_line.html" %}{% endblock %}

{% block field_sets %}
{% csrf_token %}
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form.as_p }}
    {% endfor %}
{% else %}
    {{ wizard.form.as_p }}
{% endif %}

{% endblock %}

{% block submit_buttons_bottom %}{% include "adminwizard/submit_line.html" %}{% endblock %}
