{% extends "bootstrap/base.html" %}
{% load i18n %}

{% block header %}
    <!-- Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <h3>Mynet GenConf</h3>
            </div>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <a class="close" data-dismiss="alert">×</a>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock header %}

{% block footer %}
    <!-- Footer -->
    <hr>
    <footer>
        <p style="margin-left: 20px">
            &copy; <a href="#">Massimiliano Ravelli</a> 2014
        </p>
    </footer>
{% endblock footer %}
